<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://foodrevolution.org/wp-content/uploads/2017/12/blog-featured-holiday_-20171215.jpg');">



    <div class="banner-content">
      <h1 id="first-header">Hungry?</h1> <br>
      <p id="second-header">Book a Table now!</p>

      <form>
        <div class="form-group" action="/action_page.php">
          <input type="text" class="form-control" id="inputfield" placeholder="e.g. Berlin">
          <input type="submit" class="form-contol" value="Find Restaurants" id="find-button">
        </div>
      </form>
    </div>
  </div>


