// Specific CSS for your home-page
h1 {
  font-family: 'Andika', sans-serif;
  font-size: 20px;
}

h2 {
  font-family: 'Andika', sans-serif;
  font-size: 16px;
}

h3 {
  font-family: 'Andika', sans-serif;
  font-size: 12px;
}
