<div>
  <h1>New Booking</h1>
  <div class="container">
    <div class="row">
      <div class="col-xl">
        <%= simple_form_for  [@restaurant, @booking] do |b| %>
        <%= b.input :booking_time, as: :string, input_html: {class: "datepicker form-inline"}  %>
      </div>
    <div class="col-xl">
      <%= b.submit "Book" %>
      <% end %>
    </div>
    </div>
  </div>
</div>




