<% @restaurants.each do |restaurant| %>

<h1><%= restaurant.name %></h1>

<div class="col-md-3 ml-md-auto">
  <div class="offer">

    <div class="summary">
      <div class="name">
        <p>Schnitzeltag</p>
      </div>
      <div class="description">
      <p>Jedes Schnitzel nach Wahl</p>
      </div>
    </div>

    <div class="price">
      <p>3.9€</p>
    </div>

    <div class="info">
      <p>Mehr anzeigen</p>
    </div>
  </div>
</div>

<% end %>
