table {
  width: 20vw;
}


th {
  text-align: left;
}

td {
  text-align: right;
}

p {
  font-size: 10px;
}


.box-title {
  color: #F46036;
  font-size: 18px;
}

.contact-table{
  font-size: 15px;
  text-align: left;
}

.center-text-left{
  width: 20vw;
  text-align: left;
  }

.social-media{
  height: 10vw !important;
  }

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #F46036;
  width: 30vw;
  height: 20vw;
  padding-right: 10px ;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 0px;
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

.flex-container-all {
  display: flex;
  flex-direction: column;
  float:right;
}

.main-flex-container {
display: flex;
flex-direction: row;
}
