<h1><%= @restaurant.name %></h1>

<div class="col-md-3 ml-md-auto">
  <div class="offer">

    <div class="summary">
      <div class="name">
        <p>Schnitzeltag</p>
      </div>
      <div class="description">
        <p>Jedes Schnitzel nach Wahl</p>
        <p> <%= link_to "back", restaurants_path %>
        </p>

        <div class="price">
          <p>3.9€</p>
        </div>

        <div class="info">
          <p>Mehr anzeigen</p>
        </div>
      </div>
    </div>

    <% if policy(@restaurant).update? %>
    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
    <% end %>
    <%= link_to 'Back', restaurants_path %>

  </div>
</div>


