#find-button {
  font-family: 'Andika', sans-serif;
  background-color: #3E9B4D;
  color: white;
  width: 60vh !important;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: 0 !important;
  font-weight: lighter;
}

#filter-button {
  border-radius: 6px;
  background-color: transparent;
  color: #F46036;
  padding: 5px 40px;
  border: 1px solid #F46036;
  text-align: center;
  font-weight: bold;
  font-family: 'Andika', sans-serif;
}


